body {
    background-color: rgb(84, 71, 63);
    background-image: url('website1/assets/wood.jpg');
    background-size: cover; /* Ensures the image covers the whole page */
    background-position: center center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
}

img{
    border: 4px solid lightblue;
    width: 200px;
    height: 210px;
    border-radius: 100%;
    margin:100px;

}

span{
    color: lightblue

}
h1{
    color:white;
    text-align:center;
    font-family: "Bodoni Moda SC", serif;
    font-optical-sizing: auto;
    font-weight: 90;
    font-style: normal;
    letter-spacing: 2px;
    word-spacing: 5px;
   
}
h2 {
    color:white;
    text-align:center;

}

hr {
    width:350px;
}
#welcome{
    margin:10px;
    font-size: 150px;
    color: lightblue;
   
}
#happy{
   
    font-size: 20px;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: flex-start;
}
#ifso {
   
    font-size: 70px;
}
#container{
   display:flex;
   flex-direction: row;
   flex-basis: 50px;
   flex-wrap:nowrap;
   padding: 100px;
   justify-content: center;
   align-items:center;
   gap:80px;
}
#ifso > h1 {
    color:lightblue;
}
p{
    color:white;
    padding: 10px;
}
.about {
    margin:100px;
    margin-right:none;
    width:50%;
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    border: 5px solid lightblue;
    border-radius: 10px;;
}
.pic{
    margin:100px;
    margin-left:none;
    width:50%;
    display:flex;
    flex-direction: column;
    justify-content: center;;
    border: 5px solid lightblue;
    border-radius: 10px;
}
a {
    color:lightblue;
    text-align:center;
   
}
.container {
    display:flex;
    flex-wrap:nowrap;
    
}

.icons{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    gap:10px;
    
}


.fill {
    width: 300px;
    margin-left: 5%;
    padding: 20px;
    border-radius: 10px;
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
  }

  label{
color:lightblue;
  }
  .fill input, .fill button {
    width: 100%;
    padding: 10px;
    margin: 5px 0px;
   
    border-radius: 5px;
  }
  .fill button {
    width:auto;
    background-color: lightblue;
    color: rgb(60, 29, 3);
    cursor: pointer;
  }
  .fill button:hover {
    background-color: pink;
  }

 .fire {
    justify-content: center;
    align-content: center;
    margin-left:150px;
 }
 .second {
justify-content: center;
align-content:center;
gap: 170px;
 }

 @media only screen and (max-width: 390px) {
   #container{
    /* if so (#ifso) i am happy (#happy) to inform you you ar...*/
    flex-direction:column;
   }
   
   img{
    margin:5px 0px;
    display:flex;
    justify-content: center;
    align-content: center;
   }
   
    .container{
/* about and pic (contact me) blocks */
flex-direction:column;
   }

h1{
    /*welcome ,if so ,a little bit about me ,how to contact me*/
   font-size:30px;
}
#welcome{
    font-size:60px;
}

 .fill{
    margin:0;
 }

 .fire{
    margin:0;
 }
 iframe{
    width:100%
 }

 .about{
    border:0;
    width:99%;
    margin:1px;
 }

 .pic{
    border:0;
    width:99%;
    margin:1px;
 }

 #ifso{
    margin:0
 }

 .second{
    gap:10px;
 }
}

@media screen and (max-width: 900px) and (min-width: 391px) {


img{
 margin-top: 50px;
 margin-bottom:50px;
 display:flex;
 justify-content: center;
 align-content: center;
}
#icon{
    margin:0px;
}

 .container{
/* about and pic (contact me) blocks */
flex-direction:column;
justify-content: center;
align-items:center;
}

h1{
 /*welcome ,if so ,a little bit about me ,how to contact me*/
font-size:30px;
}
#welcome{
 font-size:60px;
}

.fill{
 margin:0;
}

.fire{
    width:70%;
 margin:0;
}
iframe{
 width:100%
}

.about{
 
 width:70%;
 margin:30px;
}

.pic{
 width:70%;
 
}

#ifso{
 margin:0
}

.second{
 gap:10px;
}
}
